<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Sesion 2</title>
	<!-- Bootstrap Core CSS -->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="row" ng-app="formRegistro" ng-controller="FormRegistroCtrl">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="col-sm-8 col-sm-offset-4">
				<h2>
					Formulario de Registro
				</h2>
				<p>
					Los campos con * son obligatorios
				</p>
			</div>
			<form class="form-horizontal" method="post">
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="name">
						Nombres
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<input class="form-control" ng-model="userinfo.nombre" name="name" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="name2">
						Name
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="name2" name="name2" type="text" />
					</div>
				</div>
				<div class="form-group" id="div_radio">
					<label class="control-label col-sm-4 requiredField" for="radio">
						Sexo
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<label class="radio-inline">
							<input name="radio" type="radio" value="Masculino" /> Masculino
						</label>
						<label class="radio-inline">
							<input name="radio" type="radio" value="Second Choice" /> Second Choice
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="text2">
						Password
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="text2" name="text2" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="textarea">
						Reescribir Password
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<textarea class="form-control" cols="40" id="textarea" name="textarea" rows="10"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="email">
						Email
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<input class="form-control" ng-model="userinfo.email" name="email" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4 requiredField" for="text1">
						Direccion***
						<span class="asteriskField">
							*
						</span>
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="text1" name="text1" placeholder="Direccion" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="tex55">
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="tex55" name="tex55" placeholder="Referencia" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="tel">
						Telefono
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="tel" name="tel" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="date">
						Fecha de nacimiento
					</label>
					<div class="col-sm-8">
						<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-4">
						<button class="btn btn-primary " type="button" ng-click="nuevoRegistro()">Nuevo</button>
						<button class="btn btn-success " type="button" ng-click="guardarRegistro()">Guardar</button>

					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 col-sm-6">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in userlist">
						<td>{{user.nombre}}</td>
						<td>{{user.email}}</td>
						<td>
							<button ng-click="editarRegistro(user.id)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
							<button ng-click="eliminarRegistro(user.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<script type="text/javascript" src="js/libs/angular.min.js"></script>
			<script type="text/javascript" src="js/main.js"></script>
			<script type="text/javascript" src="js/userapi.js"></script>



		</body>
		</html>