.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.row.smallpads {
  margin-right: -2px;
  margin-left: -2px;
}
.row.smallpads > [class^="col-"],
.row.smallpads > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

a.goback{
	color:inherit;
	cursor: pointer;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
a.goback:hover{
	text-decoration: underline;
	cursor: pointer;
	opacity: 1;
    filter: alpha(opacity=110); /* For IE8 and earlier */
}
a.nolink{
	color:inherit;
	cursor:pointer;
}
a.nolink:hover{
	color:inherit;
	text-decoration: none;
	cursor: pointer;
}